
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>

    .mt-nav ul li.nav-item.active a {
        margin-left: 5px;
        margin-right:5px;
        border: 1px solid #ccc;
        background-color: #fff;
        color: #dd4040;
        border-color: #dee2e6 #dee2e6 #fff;
    }

    .mt-nav ul li.nav-item a {
        color: #17243e;
    }

    .mt-nav ul li.nav-item:not(.active) a:hover {
        color: #17243e;
        border: 1px solid #ddd;
        box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
        background-color: #efeded;
    }

    .content-wrapper {
        padding-top: 55px;
        height: calc(100% - 55px);
    }
</style>



<div class="sidebar1" id="sidebar">
    <div class="position-sticky pt-5">
        <ul class="nav nav-pills nav-sidebar flex-column">

            <li class="nav-item">
                <a href="https://phongdaotao.ntt.edu.vn/" class="px-3 d-flex flex-row multitabs align-items-center  bd-highlight" data-type="info" data-iframe="true">
                    <i style="width:20px" class="fas fa-home bd-highlight"></i>
                    <span class="sidebar-text bd-highlight"> Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://www.blackbox.ai//" class="px-3 d-flex flex-row multitabs align-items-center  bd-highlight" data-type="info" data-iframe="true">
                    <i style="width:20px" class="fas fa-home bd-highlight"></i>
                    <span class="sidebar-text bd-highlight"> Chây 97</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="http://google.com/" class="px-3 d-flex flex-row multitabs align-items-center bd-highlight" data-type="info" data-iframe="true">
                    <i style="width:20px" class="fas fa-users bd-highlight"></i>
                    <span class="sidebar-text bd-highlight"> Customers</span>
                </a>
            </li>

            <!--collapse nav-->
            <li class="nav-item">
                <a class="px-3 d-flex flex-row align-items-center bd-highlight" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i style="width:20px" class="fas fa-tachometer-alt bd-highlight"></i>
                    <span class="sidebar-text bd-highlight"> Orders</span>
                    <i class="sidebar-text fas fa-angle-left right ms-auto"></i>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav flex-column wcollapse">
                        <li class="nav-item">
                            <a class="px-3 d-flex flex-row multitabs align-items-center bd-highlight" href="https://giangvien.ntt.edu.vn/login.html" data-type="info" data-iframe="true">
                                <i style="width:20px" class="fas fa-caret-right bd-highlight"></i>
                                <span class="sidebar-text bd-highlight"> New Orders</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="px-3 d-flex flex-row multitabs align-items-center bd-highlight" href="#" data-type="info" data-iframe="true">
                                <i style="width:20px" class="fas fa-caret-right bd-highlight"></i>
                                <span class="sidebar-text bd-highlight"> Processed Orders</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
    </div>

</div>

<div class="content" id="content">
    <div id="content_wrapper" class="content-wrapper">

    </div>
</div>