@model InternshipManagement.Models.User
@{
    ViewBag.Title = "ForgotPassword";
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
    <link href="~/Content/login.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="~/AdminLTE/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <style>
        .step {
            display: none;
        }

            .step.active {
                display: block;
            }
    </style>
</head>
<body>
    <div class="wrapper">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "registrationForm" }))
        {
            @Html.AntiForgeryToken()

            <!-- Bước 1: Xác thực email -->
            <div class="step active" id="step1">
                <h3>Tạo tài khoản sinh viên</h3>
                @if (Html.ViewData.ModelState.IsValidField("Email"))
                {
                    <p>Xác thực Email sinh viên</p>
                }

                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                <div class="input-field">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { type = "text", id = "Email", name = "Email", required = "required" } })
                    <label>Email</label>
                </div>
                <div class="float-end"><button type="submit" class="btn btn-primary">Tiếp theo</button></div>
            </div>



        }
    </div>

</body>
</html>


