<a class="setting-item d-flex align-items-center" href="#">
    <i class="fas fa-user" style="width:25px"></i>
    Ngôn ngữ
</a>
<a class="setting-item d-flex align-items-center" href="@Url.Action("SettingMenu")">
    <i class="fas fa-cog" style="width:25px"></i>
    Giao diện
    <i class="fas fa-chevron-right ms-auto"></i>
</a>
<hr style="margin: 5px 0; color: #797979" />
<a class="setting-item d-flex align-items-center" href="#">
    <i class="fas fa-sign-out-alt" style="width:25px"></i>
    Đăng xuất
</a>
