@model IEnumerable<InternshipManagement.Models.Company>



@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_LTELayout.cshtml";
}

<link href="~/Content/datatables.min.css" rel="stylesheet" />


<div class="m-3">
    <div class="col-12 card shadow-sm">
        <!-- /.card-header -->
        <div class="card-body">
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table style="overflow-x:auto" id="companyTable" class="table table-bordered">
                            <thead class="thead1">
                                <tr style="white-space: nowrap;">
                                    <th>#</th>
                                    <th>id</th>
                                    <th>Logo</th>
                                    <th>
                                        Tên
                                    </th>
                                    <th>
                                        Địa chỉ
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Số điện thoại
                                    </th>
                                </tr>

                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <!-- /.card -->
        <!-- Edit User Modal -->
        <div class="modal fade" id="editCompanyModal" tabindex="-1" aria-labelledby="editCompanyModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal content will be loaded dynamically -->
                </div>
            </div>
        </div>
        <!-- Add User Modal -->
        <div class="modal fade" id="addCompanyModal" tabindex="-1" aria-labelledby="addCompanyModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal content will be loaded dynamically -->
                </div>
            </div>
        </div>
        <!-- View User Modal -->
        <div class="modal fade" id="viewCompanyModal" tabindex="-1" aria-labelledby="viewCompanyModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="max-width:800px">
                <div class="modal-content">
                    <!-- Modal content will be loaded dynamically -->
                </div>
            </div>
        </div>


    </div>
</div>

@section scripts {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link href="~/AdminLTE/plugins/datatables-select/css/select.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/AdminLTE/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />

    <!-- DataTables  & Plugins -->
    <script src="~/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/AdminLTE/plugins/jszip/jszip.min.js"></script>
    <script src="~/AdminLTE/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/AdminLTE/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-select/js/dataTables.select.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-select/js/select.bootstrap4.min.js"></script>
    <script src="~/AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>

    <script>
        $(document).ready(function () {
            var table = $('#companyTable').DataTable({
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "ajax": {
                    "url": "/Admin/GetCompanies",
                    "type": "POST",
                    "data": function (d) {
                        var defaultColumnName = "SequenceNumber";

                        var columnIndex = d.order[0] && d.order[0].column ? d.order[0].column : null;

                        var columnName = columnIndex !== null ? d.columns[columnIndex].data : defaultColumnName;

                        d.sortColumn = columnName;
                        d.sortDirection = d.order[0] ? d.order[0].dir : "asc"; 
                    }
                },
                "columns": [
                    { "data": "SequenceNumber", "orderable": false }, 
                    { "data": "CompanyID", "visible": false },
                    {
                        "data": "Logo", "orderable": false, "render": function (data, type, row) {
                         return '<img src="@Url.Content("~/Materials/LogoCompany/")' + data + '" height="20">';
                    }

                    },
                    { "data": "CompanyName" },
                    { "data": "Address" },
                    { "data": "Email" },
                    { "data": "Phone" },
                ],
                "language": {
                    "decimal": "",
                    "emptyTable": "Không có dữ liệu",
                    "info": "Hiển thị _START_ đến _END_ của tổng số _TOTAL_ bản ghi",
                    "infoEmpty": "Hiển thị 0 đến 0 của tổng số 0 bản ghi",
                    "infoFiltered": "(đã lọc từ tổng số _MAX_ bản ghi)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Hiển thị _MENU_ bản ghi",
                    "loadingRecords": "Đang tải...",
                    "processing": "",
                    "search": "",
                    "searchPlaceholder": "Tìm kiếm...",
                    "zeroRecords": "Không tìm thấy bản ghi nào phù hợp",
                    "paginate": {
                        "first": "Đầu",
                        "last": "Cuối",
                        "next": "Tiếp",
                        "previous": "Trước"
                    },
                    "aria": {
                        "sortAscending": ": sắp xếp tăng dần",
                        "sortDescending": ": sắp xếp giảm dần"
                    },
                    "select": {
                        "rows": {
                            "_": "%d hàng đã chọn",
                            "0": "",
                            "1": "1 hàng đã chọn"
                        }
                    }
                },
                "pagingType": "full_numbers", 
                "ordering": true, 
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "select": {
                    style: 'multi',
                },
                "paging": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "dom": '<"top"<"float-right"f>lB>rt<"bottom"ip><"clear">',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf' 
                ]
            });

            
            function toggleButtons() {
                var selectedRows = table.rows({ selected: true }).count();
                var editButton = $(".btn-editcompany");
                var deleteButton = $(".btn-danger");
                var viewButton = $(".btn-viewcompany");

                if (selectedRows === 0) {
                    editButton.prop("disabled", true);
                    deleteButton.prop("disabled", true);
                    viewButton.prop("disabled", true);
                } else if (selectedRows === 1) {
                    editButton.prop("disabled", false);
                    deleteButton.prop("disabled", false);
                    viewButton.prop("disabled", false);
                } else {
                    editButton.prop("disabled", true);
                    deleteButton.prop("disabled", false);
                    viewButton.prop("disabled", true);
                }
            }

            toggleButtons();

            table.on('select deselect', function () {
                toggleButtons(); 
            });

            var btnGroup = $('<div class="btn-group"></div>');
            btnGroup.append('<button class="btn btn-success btn-addcompany">Thêm</button>');
            btnGroup.append('<button class="btn btn-info btn-viewcompany" disabled>Chi tiết</button>');
            btnGroup.append('<button class="btn btn-warning btn-editcompany" disabled>Chỉnh sửa</button>');
            btnGroup.append('<button class="btn btn-danger btn-deletecompany" disabled>Xóa</button>');
            $(".float-right").append(btnGroup);


            $(".dataTables_filter").append('<button id="filterButton" class="btn btn-info btn-sm">Lọc</button>');

            $("#filterButton").on("click", function () {
                alert("Filter button clicked!");
            });

            $(".btn-editcompany").on("click", function () {
                var selectedRowData = table.row({ selected: true }).data();
                if (selectedRowData) {
                    var CompanyID = selectedRowData.CompanyID; 
                    $.ajax({
                        url: '/Admin/EditCompany',
                        type: 'GET',
                        data: { companyID: CompanyID },
                        success: function (data) {
                            $('#editCompanyModal .modal-content').html(data);
                            $('#editCompanyModal').modal('show'); 
                        },
                        error: function () {
                            Swal.fire({
                                title: "Error!",
                                text: "Đã xảy ra lỗi khi tìm nạp dữ liệu doanh nghiệp.",
                                icon: "error"
                            });
                        }
                    });
                }
            });
            $(".btn-addcompany").on("click", function () {
                $.ajax({
                    url: '/Admin/CreateCompany',
                    type: 'GET',
                    success: function (data) {
                        $('#addCompanyModal .modal-content').html(data); 
                        $('#addCompanyModal').modal('show'); 
                    },
                    error: function () {
                        Swal.fire({
                            title: "Error!",
                            text: "Đã xảy ra lỗi khi tải biểu mẫu thêm doanh nghiệp.",
                            icon: "error"
                        });
                    }
                });
            });
            $(".btn-viewcompany").on("click", function () {
                var selectedRowData = table.row({ selected: true }).data();
                if (selectedRowData) {
                    var CompanyID = selectedRowData.CompanyID; 
                    $.ajax({
                        url: '/Admin/DetailCompany',
                        type: 'GET',
                        data: { CompanyID: CompanyID },
                        success: function (data) {
                            $('#viewCompanyModal .modal-content').html(data);
                            $('#viewCompanyModal').modal('show'); 
                        }
                    });
                }
            });
            $(".btn-deletecompany").on("click", function () {
                var selectedRowsData = table.rows({ selected: true }).data();
                if (selectedRowsData.length > 0) {
                    Swal.fire({
                        title: "Xác nhận xóa",
                        text: "Bạn có chắc chắn muốn xóa công ty đã chọn không?",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Có, hãy xóa!"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Trích xuất danh sách ID công ty đã chọn
                            var companyIDs = selectedRowsData.toArray().map(row => row.CompanyID);

                            // Gửi danh sách ID công ty qua Ajax
                            $.ajax({
                                url: '/Admin/DeleteSelectedCompany',
                                type: 'POST',
                                traditional: true,
                                data: { companyIDs: companyIDs }, // Chú ý: thay đổi tên tham số thành companyIDs
                                success: function () {
                                    Swal.fire({
                                        title: "Đã xóa!",
                                        text: "Công ty đã được xóa thành công.",
                                        icon: "success"
                                    }).then(() => {
                                        location.reload();
                                    });
                                },
                                error: function () {
                                    Swal.fire({
                                        title: "Error!",
                                        text: "Đã xảy ra lỗi khi xóa công ty.",
                                        icon: "error"
                                    });
                                }
                            });
                        }
                    });
                } else {
                    Swal.fire({
                        title: "Warning!",
                        text: "Please select at least one company to delete.",
                        icon: "warning"
                    });
                }
            });

        });

    </script>
}